body {
	background-color: black;
}
#user-interface {
	top: 0;
}
#textarea {
    resize: none;
    background-color: black;
    color: white;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	outline: none;
	border: none;
	width: 95vw;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: none;
	height: 85vh;
	overflow: auto;
	top: 0;
}

#user-input {
	width: 100vw;
	margin-top: none;
	outline: none;
	border: none;
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	background-color: darkgrey;
	color: black;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
}

#userInputTwo {
	width: 100vw;
	height: 4em;
	margin-top: none;
	outline: none;
	border: none;
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	background-color: darkgrey;
	color: black;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
}

.user-interface {
    margin: auto;
}

form {
	margin: none;
}